*{margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -ms-box-sizing: border-box;}
a{color:#2c2928;text-decoration: none;}
a:hover, a:focus{ text-decoration: none; color:#b70000;}

input, a:focus, button:focus{outline: none!important;text-decoration: none;}
ul{margin: 0; padding: 0; list-style: none;}
img{border: 0; max-width: 100%;}
/* Clearfix */
.clearfix:before,
.clearfix:after,
.site-width:before,
.site-width:after {
    content: " "; 
    display: table;
}
.clearfix:after,
.site-width:after {
    clear: both;
}
.clearfix,
.site-width {
    *zoom: 1;
}
form textarea::-webkit-input-placeholder, form input::-webkit-input-placeholder {
    color: #272b2d;
    opacity: 1;
}
form textarea:-moz-placeholder, form input:-moz-placeholder {
    color: #272b2d;
    opacity: 1;
}
form textarea::-moz-placeholder, form input::-moz-placeholder {
    color: #272b2d;
    opacity: 1;
}
form textarea:-ms-input-placeholder, form input:-ms-input-placeholder {
   color: #272b2d;
   opacity: 1;
}
h1, h2, h3, h4, h5 {font-weight: 700; color: #272b2d;}
h1, h2{ margin-top: 0}
.topmenu ul li a, .home header, .applycoupon { transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;}
.imagelightbox-nav {display: none;}
.cmsbox img{width:100%;}
body {font-family: 'Montserrat', sans-serif; font-weight:400; color:#000; font-size: 15px;}
.mailicon-blue, .phoneicon-blue, .pinicon-blue, .mobileicon-blue, .mailicon, .phoneicon, .facebookicon, .twittericon, .linkedinicon, .arrow-icon, .arrow-white-icon, .date-icon, .indiainternets-icon, .board-content-box:after, .topmenu > ul > li.sub-links > a:after, .pdf-icon {
	background: url(../images/sprites_icon.png) no-repeat; display: inline-block; vertical-align: middle;
}
.owl-theme .owl-dots .owl-dot span {
    background:#ffffff!important;
    border: 2px solid #de1f27!important;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #d22902 !important;
    border: 2px solid #d22902!important;
}
.indiainternets-icon {
	background-position: -262px 0;
	width:26px;
	height:27px;
	margin-left: 5px;
}
.mailicon-blue {
	background-position: -170px 2px;
	width:16px;
	height:22px;
} 
.phoneicon-blue {
	background-position: -202px 0;
	width:18px;
	height:20px;
}
.mobileicon-blue {
	background-position: -230px 0;
	width:17px;
	height:30px;	
}
.mailicon {
	background-position: 0 -3px;
	width:18px;
	height:11px;
}
.phoneicon {
	background-position: -27px -1px;
	width:16px;
	height:16px;
}
.pinicon-blue {
	background-position: -231px 0;
	width:15px;
	height:21px;
}
.facebookicon {
	background-position: -103px -3px;
	width:7px;
	height:13px;
}
.twittericon {
	background-position: -121px -4px;
	width:13px;
	height:10px;
}
.linkedinicon {
	background-position: -146px -3px;
	width:13px;
	height:13px;
}
.droparrow {
	background:#fff url(../images/arrow-down-icon.png) center right 10px no-repeat !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.arrow-icon {
	background-position: -105px -30px;
	width: 11px;
	height: 9px;
}
.date-icon {
	background-position: -52px -2px;
	width: 21px;
	height: 20px;
}
.pdf-icon {
	background-position: -106px -48px;
	width: 30px;
	height: 30px;
}
.arrow-white-icon {
	background-position: -125px -28px;
	width: 15px;
	height: 14px;
}
.topright > ul > li > a span, .listpro > li, .breadcrumbs a, .tranindingsec ul li span, .product span, .fbox a, .dropdownsec{ -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;  transition:all 0.5s ease-in-out;}
header { transition: all 0.3s ease 0s; width: 100%; z-index: 1000;  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);}
.sectionpad {padding-top: 75px; padding-bottom:80px;}
.left{float:left;}
.right{float:right;}
body:not(.home){ padding-top: 80px;}
body:not(.home) header{background:#fff;}
header{/*position:fixed;*/ left: 0; top: 0; }
.owl-theme .owl-dots .owl-dot span {width: 16px!important; height: 16px!important;}
.home header {  box-shadow: none;  }
.home header:hover, .home header.sticky{box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08); background:#fff;}
/*.home-page.home header:hover{background:none;}*/
.white_header header {box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08); background:#fff;}
.sticky { }
.fullwidth{width: 100%; float: left;}
iframe{width: 100%;}

.topsec {background:#f1f1f1; color:#1e1e21; padding:4px 40px 6px;}
.header-site-width  {max-width: 1200px; margin-left: auto; margin-right: auto;}
.topsec .block-left {float: left; width: 60%;}
.topsec .block-right {float: right;}
.block-right > ul {display: inline-block; vertical-align: middle;}
.block-right > ul.search-wrapper  {padding: 0;}
.topsec li { display: inline-block; vertical-align: middle;}
.topsec li a {padding:1px 5px; display: block; color: #1e1e21;}
.social-links li {display: inline-block; vertical-align: middle; margin-right: 15px;}
.social-links li a {text-align: center; padding: 0;}
.social-links li:last-child {margin-right: 0;}
.contact-details-top li a {font-family: 'Oswald', sans-serif; font-size: 16px; font-weight: 400;-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.contact-details-top li a:hover {color: #d22902;}
.contact-details-top li a i {margin-right:2px;}
.headsec{padding:0px 40px;}
.logo{margin-top:15px; float: left; position: absolute; z-index:11;}
.logo img{max-height:143px;}
.topmenu{ float: right; margin-left:40px; padding: 20px 0; position: relative;}
.topmenu > ul > li{float: left; position: relative;}
.topmenu > ul > li > a {display: block; padding:21px 16px; font-size: 14px; line-height:1; color:#1e1e21; font-weight: 600; text-transform: uppercase;}
.topmenu > ul > li.active > a {color:#d22902;}
.topmenu > ul > li.sub-links > a {position: relative;}
.topmenu > ul > li > a {display: block;}
.topmenu > ul > li.sub-links > a:after {
	content: '';
	background-position:-82px -7px;
	width: 10px;
	height: 6px;
	position: absolute;
	right: 0; 
	top: 25px;
}
.topmenu > ul > li:hover > a{color:#d22902;}
.topmenu > ul > li.highlight-link {margin-left: 25px;}
.topmenu > ul > li.highlight-link > a {font-family: 'Oswald', sans-serif; font-weight: 400; font-size: 20px; padding: 18px 25px 17px; min-width:175px; text-align: center; background-color:#d22902; color:#fff;}
.topmenu > ul > li.highlight-link:hover > a {background-color:#021d6d; color:#fff;}
.topmenu > ul > li > ul {position: absolute; left: 0; top: 100%; width: 220px; display: none; background:#d22902; z-index: 9; padding: 15px 28px; border-top:20px solid #fff;}
.topmenu > ul > li > ul:after, .topmenu > ul > li > ul:before {
	content: " ";
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}
.topmenu > ul > li > ul:before {
    border-color: rgba(210,41,2, 0);
    border-bottom-color: rgba(210,41,2, 0);
	border-bottom-color:#d22902;
    border-width: 15px;
    margin-left: -15px;
}
.topmenu > ul > li:hover > ul{display: block;}
.topmenu > ul > li > ul > li{position: relative; border-bottom: 1px solid #d96348;}
.topmenu > ul > li > ul > li:last-child {border-bottom: none;}
.topmenu > ul > li > ul > li a{display: block; padding:12px 0; font-size:15px; font-weight: 400; color: #fff; line-height: 1;}
.topmenu > ul > li > ul > li > ul{position: absolute; left:99.99%; top:0; width: 225px; display:none;background:#d22902; z-index: 9;}
.topmenu > ul > li > ul > li > ul > li {border-bottom: 1px solid #d96348;}
.topmenu > ul > li > ul > li:hover > ul{display: block;}
#topscroll {position:fixed; bottom:50px; right:30px; z-index:999; cursor:pointer; display:none}
#topscroll i {border-radius:50%; border:2px solid #ccc; background:#000; color:#000; width:50px; height:50px; line-height:44px; opacity: 0.8; text-align:center; display:inline-block; font-size:25px; transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out}
#topscroll i::before {content:"";border-left:2px solid #fff; border-top:2px solid #fff; display:inline-block; width:9px; height:9px; transform:rotate(45deg); -ms-transform:rotate(45deg); -webkit-transform:rotate(45deg)}
#topscroll:hover i { opacity: 1;}
.title{font-size: 18px; font-weight: bold; min-height: 54px;}
.feature-news .title, .feature-blog .title { overflow: hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: ; -webkit-box-orient: vertical;}
.content p{overflow: hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
/*.newsbox{ float:left;}*/
.eventbox{ background:#fff; float:left;}
.imgsec { background-size:cover!important; }
.news-wrapper .imgsec, .newsbox .imgsec {
    background-size: cover !important;
    background-position: center top !important;
}
.contents{ width:100%; padding:30px; min-height:215px; background:#fff;}
.category{font-size: 14px;}
.btext .date {margin-bottom: 15px;}
.date{font-size: 15px; color:#ccc;}
.date strong {color: #000;}
.breadcrumb a{ color:#000; }
.btext cite{ font-size:15px;color: #AFAFAF; font-style: normal;}
.sidebar + .bdetail{padding-right: 350px;}
.dtbg{background:#f1f1f1; text-align: center; margin-bottom: 20px;}
.dtbg img{max-height:500px;}
.sidebar{width: 300px; border:1px solid #ccc; float: right;  padding: 35px 15px 40px 25px; margin-bottom: 32px; background: #d22902;}
.sidebar .blogbox{border:none; border-top: 1px solid #ccc;}
.sidebar .title {
    font-size: 26px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 500;
    min-height: 1px;
    line-height: 1;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar li:last-child {margin-bottom: 0;}
.sidebar li a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.sidebar li a:hover {opacity: .8;}
.sidebar li a::after {
    content: '';
	width: 7px;
	height: 7px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position: absolute;
	left: 0;
	top: 6px;
}
.sidebar .contents{min-height: auto; padding:20px;}
.sidebar .imgsec{ display:none; }
.headings {font-size:42px;  color: #272b2d; font-weight:700; margin-bottom:25px; line-height: 1;}
.headings-with-border {position: relative; padding-bottom: 20px; margin-bottom: 25px;} 
.headings-with-border:after {
	content: '';
	background: #d22902;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 78px;
	height: 4px;
	margin: 0 auto;
}
.productbg{background:#222 url(../images/pattern.png) center center repeat;}
.productbg .headings{color:#fff; }
.productbg .title a{color:#b70000;}
.homeabout p{ color: #747474; }
.blogbg{}
.blogbg .headings{color:#b70000;}
.newsbg{}
.board-of-director-block, .news-block-wrapper{background:#fff;}
.testimonialbg{background:#f2b8b8 url(../images/pattern.png) center center repeat;}
.testibox{background: #fff; padding-top: 30px;}
.feature-blog .blogbox{ width: 100%; }
.banner {
	position: relative;
}
.banner .bannertext {
	font-size: 19px;
	font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    color: #272b2d;
    text-align: left;
}
.banner .banner-inner {
	max-width: 560px;
}
.banner .bannertext .banner-title {
    font-family: 'Oswald', sans-serif;
	font-size: 76px;
	font-weight: 400;
	line-height: 1.1;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.banner .banner-description {

}
.banner .bannertext .banner-title + .sub-title {
	font-size: 25px;
	font-weight: 400;
}
.banner.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.banner.owl-theme .owl-dots .owl-dot span {
    background:#ffffff!important;
    border: 2px solid #fff!important;
}
.banner.owl-theme .owl-dots .owl-dot.active span, 
.banner.owl-theme .owl-dots .owl-dot:hover span {
    background: #d22902 !important;
    border: 2px solid #d22902!important;
}
.home .owl-carousel .owl-nav button.owl-next, .home .owl-carousel .owl-nav button.owl-prev{margin:10px 5px 0 0; background:#b70000; color:#fff; font-size: 50px; line-height: 40px; height: 50px; width: 50px;}
.home .owl-carousel .owl-nav button span{ display: block; padding-bottom: 6px; }
.home .owl-carousel .owl-nav button.disabled{opacity:0.5;}

.searchform{background:#2b2f80; width: 450px; height:48px; border-radius: 0; margin-right: 10px; position: relative;}
.searchform input {width:calc(100% - 40px); border: none; padding:0 15px 0 25px; line-height: 48px; background: none; font-size: 14px; font-weight: 400; color: #fff;}
.searchform button{width:40px; border:none; background: none; line-height: 42px; text-align: center; cursor: pointer; position: absolute; right:10px;}
.topright{ float: right; margin-top:25px;}
.topright > ul > li{float: left; margin-left:30px; position: relative;}
.topright > ul > li > a{font-weight: 700; font-size: 15px; text-align: center; display: block; position: relative;}
.topright > ul > li > a span{display: block;}
.topright > ul > li > a small{background:#858895; width: 16px; height:16px; position:absolute; top:9px; margin-left:-8px; left: 50%; color:#fff; text-align: center; border-radius: 50%;}

.dropdownsec{padding:20px; width: 250px; font-size: 14px; position: absolute; right:-100px; top: 100%; background:#fff; box-shadow:0 1px 10px rgba(0, 0, 0, 0.08); border:1px solid #ededef; visibility: hidden; opacity: 0; z-index: 99;}
.dropdownsec > ul > li:first-child{border-bottom: 1px solid #ededef; margin-bottom: 5px;}
.dropdownsec > ul > li > a{ display: block; padding: 5px 0;}
.topright > ul > li:hover .dropdownsec{ opacity: 1; visibility: visible;}

.photogallery{margin-bottom: 30px;}
.videoimg iframe {width: 100%;height: 450px;}

.gallerylist{position: relative;}
.gallerylist .imgsec{background:#ccc; line-height: 250px;}
.gallerylist .imgsec img{ height: 250px; }
.gtitle{ position: absolute; left: 0; bottom: 0; padding: 15px; background:#000; color:#fff; }
.viewbtn{padding: 10px 20px; background: #b70000; color:#fff; border-radius: 3px;}
/*.sidebarsec.noborder{border: none;}*/
.banner img{ width: 100%;}
.banner .owl-item{max-height: 700px; overflow: hidden;}
.heading{font-size:34px; font-weight: 900; text-transform: uppercase;}
.heading small{text-transform: capitalize;font-size: 16px; font-weight:700; color:#2c2928;}
.bordertop{border-top: 1px solid #ccc;}
.feature-events .contents{ border:1px solid #ccc; }
footer{background:url(../images/footer_bg.jpg) no-repeat center center; background-size: cover;  color:#fff; text-align: center;}
.footer-top {background:rgba(0,21,106,.6); padding: 35px 25px 40px;}
.fbox.ft-links {padding-bottom: 15px; margin-bottom: 35px; border-bottom: 1px solid #2a5888;}
.fbox.ft-links li {display: inline-block; vertical-align: middle;}
.fbox.ft-links li a { display: block; text-decoration: none; font-size: 15px; font-weight: 300; color:#fff; padding:5px 16px;}
.fbox.ft-links li a:hover, .fbox.faddress a:hover { color:#de1f27;}
.fbox.ft-links li:last-child a {border-bottom: none;}
.fbox.flogo{padding: 0 20px 0 0;}
.flogo img{max-height: 140px;}
.fbox.faddress{font-size: 19px; color: #fff; font-weight: 300;}
.faddress .address-text {margin-bottom: 20px;}
.fbox.faddress a {display: inline-block; vertical-align: middle; color: #fff;}
.fbox.faddress p {display: inline-block; vertical-align: middle; margin:0 15px; line-height: 1.1;}
.faddress p { position: relative; padding-left:28px;}
.fbox.faddress p:last-child {margin-right: 0;}
.faddress p i {position: absolute; left: 0; top: 4px;}
.faddress ul li {display: inline-block; padding:5px 15px 0 0;}
.faddress ul li i{vertical-align: middle;}
footer h4 {font-family: 'Mont'; font-weight: bold; font-size: 22px; color:#fff; margin-bottom: 40px; margin-top: 0;}
.ft-social-links {padding-top: 20px; display: none;}
.ft-social-links .title {font-family: 'Mont'; font-weight: bold; font-size: 18px; color: #fff; margin-bottom: 8px; min-height: 1px;}
.ft-social-links ul li {padding-right:0;}
.fbox.flogo{width: 18%;}
.fbox.newsletter{width: 30%;}
.suscribe_field input{width: calc(100% - 100px); display: inline-block;}
.subscribeBtn, .submitbtn{background: #11a3c9; color:#fff;}
.footer-bottom {background:rgba(0,0,0,.66);  font-size: 14px; padding: 15px 0; font-weight: 300; color:#8b8d8d;clear: both;}
.footer-bottom .copyright-text {float: left; font-size: 14px;padding-top: 4px;}
.footer-bottom .design-by {float: right;}
.innerpage{padding: 45px 0 60px;}
.innerpage h1{margin: 0 0 15px;}
/*new-css*/
.list3 { list-style:none; display: flex; flex-wrap: wrap; margin: 0 -15px;}
.list3.project-listing {margin: 0 -13px;}
.list3.project-listing > li {padding: 13px;}
.list3 > li{width:33.33%; padding: 15px; }
.list3 .contents, .list2 .contents{border:1px solid #ccc;}
.list2{ list-style:none; display: flex; flex-wrap: wrap; margin: 0 -15px;}
.list2 > li{width:50%; padding: 15px; }
.list2 .testibox{border:1px solid #ccc; padding: 30px;}
.blogbox{border: 1px solid #ccc;}
.blogbox .imgsec{ overflow: hidden;}
.testibox .imgsec{ width: 100px; height: 100px; border-radius: 50%; line-height: 100px; background:#f1f1f1; overflow: hidden; display: inline-block; }
.testibox .imgsec img{display: inline-block!important;}
.gallerimg > ul > li{width: 30%; padding:10px; display: inline-block;}

.formfild > li{ width: 50%; float: left; padding: 10px; }
.formfild > li.fullwidth{ width:100%;}
.formfild input, .formfild select {background: #fff; width:100%; padding: 10px; border:1px solid #ccc; border-radius: 3px;}
.formfild textarea{width:100%; padding: 10px; border:1px solid #ccc; border-radius: 3px; margin-top: 10px; }
.captcha{width:100%; text-align: left; position: relative;}
.captcha span {
    width: 120px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    background:#ddd;
}
.captcha small {
    position: absolute;
    left: 135px;
    padding: 5px;
    width: 30px;
    top: 7px;
    z-index: 11;
    cursor: pointer;
}
.captcha .inputfild {
    margin-left: 175px;
    width: calc(100% - 175px);
    min-height: 46px;
}
.captcha img{height: 36px;}
.captcha small img {height: 28px;}
.submitbtn{width: 100%; height: 44px;}
.top-block-sc {margin-bottom: 50px;}
.blog_page .top-block-sc {margin-bottom: 25px;}
.tagline {font-size: 20px; font-weight: 400; color: #272b2d; margin-bottom: 5px;}
.button {
	background: #d22902;
	border:2px solid #d22902;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	padding: 13px 15px;
	min-width: 180px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.1;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.button:hover {background: #041f76; border:2px solid #041f76; color: #fff;} 
.button.border-btn {
	background:transparent;
	border:2px solid #d22902;
	color: #d22902;
} 
.button.border-btn:hover {background:#041f76; border:2px solid #041f76; color: #fff;}
.welcome-sec .top-block-sc {
	margin-bottom: 35px;
}
.welcome-sec .headings-with-border::after, .news-block-wrapper .headings-with-border::after, .project-details-block .headings-with-border::after {
	right: auto;
}
.welcome-content-block {
	float: left;
	width: 68%;
	margin-right: 6%;
}
.welcome-img-block {
	float: right;
	width: 26%;
}
.welcome-content-block .short-description {
	font-weight:300;
}
.welcome-content-block .short-description p {
	margin-bottom: 30px;
	line-height: 1.5;
}
.welcome-content-block .short-description p:last-child {
	margin-bottom: 0;
}
.button-wrapper {padding-top: 55px;}
.button-wrapper .button {margin-right: 15px;}
.button-wrapper .button:last-child {margin-right: 0;}
.sectionpad.project-sec {background:url(../images/project_bg.jpg) no-repeat; background-position: center bottom; background-size: cover!important; padding-top:0; padding-bottom: 0; }
.project-listing li { margin-bottom:25px;}
.project-listing a {
	display: block;
}
.project-listing .imgsec {
	background-color: #eee !important;
	background-size: contain!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.project-box-wrapper {
	font-size: 16px;
	color: #2b2b2f;
	background: #fff;
	padding: 18px 25px 55px;
	position: relative;
	min-height:242px;
}
.cms-listing.project-listing .project-box-wrapper p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

 
.project-box-wrapper .title {
	font-size: 22px;
	font-weight: 700;
	color: #272b2d;
	min-height: 1px;
	margin-bottom: 10px;
}
.designation-name {min-width: 30px; font-size: 18px; margin-bottom: 10px; color: #8f8a8a; font-style: italic;}
.project-box-wrapper p { margin-bottom:25px;}
.project-box-wrapper .read-more {
	font-size: 16px;
	font-weight: 400;
	color: #d22902;
	position: absolute;
	left: 25px;
	bottom: 35px;
}
.project-listing a:hover .project-box-wrapper .read-more {color:#363b97;}
.read-more .arrow-icon {margin-left: 10px;}
.sectionpad.news-sec {padding-top: 160px;}
.news-sec .project-box-wrapper {min-height: 1px; padding:0;}
.news-sec .project-box-wrapper .read-more {bottom: auto; left: auto;}
.news-sec .project-listing li {float:none; margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px dotted #d1d2d3;}
.news-sec .project-listing li:last-child {border-bottom: none;}
.date-box {font-size: 16px; color:#4b4f51; margin-bottom: 10px;}
.read-more {color: #d22902;}
.date-box .date-icon {margin-right: 5px;}
.graybg {background:#f1f1f5;}
.innerbanner {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    height: 420px;
    position: relative;
}
.breadcrumbs {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9ebe9;
    clear: both;
    display: block;
}
.breadcrumbs ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.breadcrumbs ul li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    position: relative;
}
.breadcrumbs ul li:after {
    content: '';
    width: 6px;
    height: 6px;
    border-right: 1px solid #808083;
    border-bottom: 1px solid #808083;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: absolute;
    right: 5px;
    top: 8px;
}
.breadcrumbs ul li:last-child:after {
	display: none;
}
.breadcrumbs ul li a, .breadcrumbs ul li {
    font-size: 15px;
    color: #8f8f91;
}
.breadcrumbs ul li, .breadcrumbs ul li a:hover {
    color: #de1f27;
}
.pageimg {
    float: right;
    width: 30%;
    margin-left: 50px;
    margin-bottom: 20px;
}
.pageimg img{width: 100%;}
.cms-content-wrapper {
	padding-top: 15px;
	font-weight: 300;
}
.cms-content-wrapper h2, .cms-content-wrapper h3, .cms-content-wrapper h4 {
	font-size: 25px;
	font-weight: 700;
	color: #363b97;
	margin-bottom: 15px;
}
.cms-content-wrapper .border-bottom {font-size: 22px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ddd;}
.cms-content-wrapper p {
	margin-bottom: 20px;
	
	line-height: 1.6;
}
.cms-content-wrapper strong {
	font-size: 18px;
	color: #3d3d43;
}
.cms-content-wrapper p:last-child {
	margin-bottom: 0;
}
.cms-content-wrapper li {
    color: #3d3d43;
    padding-left: 25px;
    margin-bottom: 14px;
    position: relative;
}
.cms-content-wrapper li:after {
    content: "";
    background: #d22902;
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.cms-content-wrapper a {
	color: #6f6f75;
}
.cms-content-wrapper .button {color: #fff; margin-top: 15px;}
.newsbox .contents {
 	font-size: 18px;
	color:#2b2b2f;
	border:none;
    border-left: 5px solid #d22902;
    background: #f1f1f5;
    padding: 20px 20px;
    position: relative;
    min-height: 115px;
}
.newsbox .title {line-height: 1.4;}
.newsbox .read-more {
	font-size: 16px;
	font-weight: 400;
	color:#d22902;
}
.newsbox .date {
    font-size: 10px;
    font-weight: 600;
    background: #363b97;
	text-align: center;
	color: #fff;
    width: 40px;
    height: 40px;
    padding: 9px 2px;
    border-radius: 40px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: -20px;
}
.newsbox .date span {
    display: block;
    font-size: 14px;
}
.newsbox .title {
    font-size: 16px;
	font-weight: 600;
	color: #4b4f51;
    line-height: 1.3;
    margin-bottom: 5px;
    min-height: 42px;
}
.newsbox .content {
    margin-bottom: 20px;
    min-height: 44px;
}
.blogpage h1 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px
}
.newspage .dtbg img, .blogpage .dtbg img {
    width: 100%;
    object-fit: cover;
}
.contact-detail-block {
    float: left;
    width: 460px;
    margin-right: 45px;
}
.contact-form-block {
    overflow: hidden;
}
.contact-detail-block .ad-title {
	display: block;
	padding-left: 35px;
	position: relative;
}
.contact-detail-block .pinicon-blue {
    position: absolute;
    left: 0;
    top: 4px;
}
.contact-detail-block h3 {
	min-height: 1px;
	margin-bottom: 15px;
	padding-top: 10px;
}
.contact-us-headline {
	font-size: 45px;
	font-weight: 400;
	line-height: 1.1;
}
.contact-detail-block .ad-text {
	width: 410px;
    display: inline-block;
}
.contact-detail-block i {
	margin-right: 15px;
	float: left;
	width: 20px;
}
.contact-detail-block h3 {
	font-size: 26px;
	font-weight: 700;
	margin-top: 0;
	line-height: 1.2;
	margin-bottom: 20px;
}
.contact-detail-block .short-description {
	font-size: 16px;
	margin-bottom: 15px;
}
.contact-detail-block .address-wrapper p {
	border-top: 1px solid #d9d7d5;
	padding: 15px 0;
	margin-bottom: 0;
}
.contact-detail-block .address-wrapper .para_discription p {
	border-top: none;
}
.contact-detail-block .address-wrapper {
	font-size: 16px;
	font-weight: 400;
}
.contact-form-area {
    padding: 45px 40px;
    background-color:#f1f1f5;
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 4px 4px 12px 0 rgba(0,0,0,.1);
    box-shadow: 4px 4px 12px 0 rgba(0,0,0,.1);
}
.contact-form-area .formfild > li {
	float: none;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
}
.contact-form-area .formfild textarea {
	margin-top: 0;
	min-height: 160px;
}
.contact-form-area .formfild > li:last-child {
	margin-bottom: 0;
}
.contact-form-area label {
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
}
.contact-form-block .form-group {
	width: 50%;
}
.contact-form-block .form-group:nth-child(2n+3) {
	clear: both;
}
.contact-form-block .form-group:nth-child(7) {
	width: 100%;
	clear: both;
}
.df-form .form-group:nth-child(7), .df-form .form-group:nth-child(8) {
	float: none;
	width: 100%;
	clear: both;
}
.form-control {
	border-radius: 0;
	box-shadow: none;
	height: 40px;
}
form {
	overflow: hidden;
}
form .col-md-12 {
	clear: both;
}
form .required, form .help-block{color: red;}
form .help-block {
	font-size: 13px;
	margin-bottom: 5px;
}
.df-form {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
}
.df-form .form-group:nth-child(9) {
	width: 100%;
}
.captcha {
	position: relative;
	margin-bottom: 25px;
	clear: both;
}
.captchacod {
    float: left;
    width: 120px;
    position: absolute;
}
.captchImgBox {
    margin: 3px;
    display: inline-block;
}
.captchacod .changeCaptcha {
    width: 34px;
    position: absolute;
    cursor: pointer;
    height: 46px;
    top: 0;
    right: -40px;
    padding: 10px 5px;
}
.captcha input {
    width: 100%;
    padding-left: 170px;
}
.df-form .captcha span {padding: 0;}
.captchImgBox img {
    height: 34px;
}
textarea.form-control {
	min-height: 120px;
}
.address-wrapper iframe {
	width: 100%;
	height: 295px;
}
.accomodation-gallery > li {
	float: left;
	width: 31.5%;
	margin-right: 2.75%;
	margin-bottom: 40px;
}
.accomodation-gallery li ul {
	display: none;
}
.accomodation-gallery > li:nth-child(3n+3) {
	margin-right: 0;
}
.accomodation-gallery > li:nth-child(3n+4) {
	clear: both;
}
.accomodation-gallery .gallery-box {
	position: relative;
}
.accomodation-gallery .gallery-box a:before {
    content: "+";
    font-size: 34px;
    color: #fff;
	margin-top: -15px;
	margin-left: -25px;
	background:rgba(0,0,0,0.3);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
}
.accomodation-gallery .gallery-box:after {
	content: '';
	position: absolute;
	background: #d22902;
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 1;
}
.accomodation-gallery .gl-title {
	font-size: 18px;
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 15px;
	z-index: 11;
	color: #fff;
}
.accomodation-gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.video-popup-wrapper {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.video-popup-wrapper iframe {
	width: 100%!important;
	height: 400px;
	vertical-align: middle;
}
.radio-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.radio-inline input {width: auto;}
.board-of-director-block {
	float: left;
	width:55%; 
	padding-top: 15px;
}
.news-block-wrapper {
	float: right;
	width: 45%;
}
.news-block-inner-wrapper {
	margin-left: 45px; 
	padding-left: 45px;
	padding-top: 15px;
	border-left: 1px solid #ddd;
}
.news-sec .read-more-wrapper {
	text-align: right;
	margin-top: 20px;
}
.news-block-inner-wrapper .headings {font-size: 30px; margin-bottom: 30px;}
.news-slide-container  ul {
	position: relative;

}
.scroll-text {
    height: 300px;
    overflow: hidden;
}
.board-of-director-block .board-title.headings {margin-bottom: 50px;}
.board-detail-box .board-img {
	float: left;
	width: 255px;
	margin-right: 35px;
}
.board-content-box {
	overflow: hidden;
	position: relative;
	padding-top: 45px;
	font-weight: 300;
}
.board-content-box:after {
	content: '';
	background-position: 0 -29px;
	width: 98px;
	height:84px;
	position: absolute;
	top: 0;
	left: 0;
}
.board-content {margin-bottom: 35px;}
.board-info .member-name {font-size: 18px; font-weight: 400; color:#d22902;}
.board-info .member-position {font-size: 14px; color:#272b2d;}
.project-details-block {
	float: left;
	width:51%;
	margin-right: 5%;
}
.project-details-inner {
	background: rgba(255,255,255, .9);
	padding:50px 45px;
	display: block;
	position: relative;
}
.project-details-inner:hover {
	color:#2c2928;
}
.video-block-wrapper {
	float: right;
	width: 44%;
	position: relative;
	min-height: 490px;
}
.project-link-box {
	position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent #d22902 transparent;
}
.project-link-box .arrow-white-icon {
	position: relative;
	right:25px;
	top:30px;
}
.video-block-inner {
	position: absolute;
	right: 0;
	bottom: -105px;
	left: 0;
	border:10px solid #ffffff;
}
.video-block-wrapper iframe {
	width: 100%!important;
	height: 325px!important;
	border-bottom: none;
}
.project-details-inner .headings {color:#d22902;}
.project-details-inner .headings span {
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 5px;
}
.project-title {
	font-size: 28px;
	font-weight: 600;
	color:#00156a;
	margin-bottom: 25px;
}
.project-content-box {font-weight: 300;}
.project-content-box p {margin-bottom: 30px;}
.our-clients {
    margin: 0 -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-clients li {
    float: left;
    width: 25%;
    padding: 10px;
}
.our-clients .client-outer-box {
    background: #fff;
	border: 1px solid #cfcfcf;
    width: 100%;
    height: 190px;
    display: table;
    text-align: center;
    padding: 15px;
}
.our-clients .client-img {
    display: table-cell;
    vertical-align: middle;
}
.our-clients .client-img img {
    max-height: 150px;
}
.our-clients .promoters-title {padding: 10px; background: #d22902; font-size: 16px; color: #fff; font-weight: 600; min-height: 70px; text-align: center;} 
.table-lp-tender .table tr th {
    font-size: 16px;
    font-weight: 700;
    background: #d22902;
	color:#fff;
}
.table-lp-tender tr td {
	font-size: 16px;
	color: #000;
}
.table-lp-tender .date { font-size:14px;
	color: #000;
}
.table-lp-tender tr td:fist-child {
	
}
.table-lp-tender {counter-reset: cellCount}
.table-lp-tender tr:nth-child(n+2) {counter-increment: cellCount;}
.table-lp-tender tr td .count:before {content: counter(cellCount);}
.career-box-categories, .category-box-item {
	background: #f1f1f5;
	border:1px solid #ddd;
	padding: 25px 20px;
	margin-bottom: 35px;
}
.category-box-item {margin-bottom: 30px;}
.category-box-item:last-child {margin-bottom:0;}
.category-box-item > div {margin-bottom: 5px;}
.category-box-item .title {min-height:35px;}
.category-box-item > div:last-child {margin-bottom: 0;}
.career-title-c {font-size: 28px; font-weight: 600; color: #000; margin-bottom: 15px;}
.careers-categories li {
	display: block;
	margin-bottom: 5px;
}
.careers-categories li a {
	font-size: 18px;
	font-weight: 400;
	padding-left: 30px;
	display: inline-block; 
	vertical-align: middle;
	position: relative;
}
.careers-categories li a:after {
    content: '';
    width: 8px;
    height: 8px;
    border-right: 1px solid #d22902;
	border-bottom: 1px solid#d22902;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: absolute;
    left: 0;
    top: 8px;
}
.tab-content {
    display: none;
}
.tab-content.current {display: block;}
.careers-categories .tab-link.current a {color:#d22902;}
.tab-content .title {min-height:1px; margin-bottom: 10px;}
.promoter-listing {
	list-style: none;
	padding-left: 0;
	margin: 0;
	padding-top: 15px;
}
.promoter-listing li {
	background:#f6f6f6;
	margin-bottom: 30px;
}
.promoter-listing li:nth-child(even) {
	background: #fff;
}
.promoter-listing li:last-child {
	margin-bottom: 0;
}
.promoter-listing li a {
	display: block;
	padding:30px 20px;
	overflow: hidden;
}
.promoter-img-box {
	float: left;
	width:160px;
	margin-right: 45px;
}
.promoter-listing .content-box {
	color: #2c2928;
	overflow: hidden;
	line-height: 1.6;
}
.promoter-title {
	font-size:28px;
	font-weight: 700;
	color: #021d6d;
	margin-bottom:10px; 
}
.promoter-listing li a:hover, .promoter-listing li a:hover .promoter-title {
	color: #b70000;
}


.list3.cms-listing li:first-child{ margin: 0 33.33%; }


@media screen and (max-width:1679px) {
	.topmenu > ul > li > a {padding-left: 18px; padding-right: 18px;}
}
@media screen and (max-width:1400px) {
	.headsec, .topsec {padding-left: 15px; padding-right: 15px;}
	.topmenu > ul > li.highlight-link > a {min-width:145px;}
	.sectionpad {
		padding-top: 65px;
		padding-bottom: 80px;
	}
	.banner .bannertext .banner-title {font-size: 65px;}
}
@media screen and (max-width:1365px) {
	.headings {
		font-size: 38px;
	}
	.banner .bannertext .banner-title {
		font-size: 50px;
	}
}
@media screen and  (max-width: 1280px){
	.blog_wrap .container {
	    width: 1200px;
	}
}
@media screen and (max-width:1279px) {
	.logo img {max-height: 130px;}
	.sectionpad.welcome-sec {padding: 50px 0 70px;}
}
@media screen and (max-width:1220px) {
	.banner .bannertext {padding: 0 20px;}
}
@media screen and (max-width: 1199px){
	.blog_wrap .container {
	    width: 1000px;
	}
	.topmenu {
		margin-left: 10px;
	}
	.headings {font-size: 35px;}
	.welcome-content-block .short-description p {margin-bottom: 20px;}
	.project-box-wrapper {min-height: 310px;}
	.project-box-wrapper {font-size: 18px;}
	.contact-form-area {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.topmenu > ul > li.highlight-link {margin-left: 5px;}
	.project-details-inner {padding: 45px 30px;}
	.project-title {font-size: 25px;}
	.banner .bannertext .banner-title {font-size:45px;}
	.table-lp-tender .table tr th {font-size: 15px;}
}
@media screen and (max-width: 1165px){
	.topmenu > ul > li > a {
		font-size: 14px;
		padding-left: 12px;
		padding-right: 12px;
	}
	.topmenu > ul > li.highlight-link > a {
		min-width: 115px;
	}
	.topsec .block-left {
		width: 50%;
	}
	.newsbox .contents {min-height:140px;}
}
@media screen and (max-width: 1024px){
	.blog_wrap .container {
	    width: 970px;
	}
}
@media screen and (max-width: 1023px) { 
	
}
@media screen and (max-width: 991px){
	.list3.cms-listing li:first-child{ margin: 0 25%; }
	.header {
		height: 110px;
	}
	.topmenu > ul > li > ul{position: static;}
	.logo {
		margin-top: 10px;
	}
	.logo img {
		max-height: 120px;
	}
	.navicon {
		display: block; 
		float: right; 
		cursor: pointer; 
		position: absolute; 
		top:55px; 
		right:20px; 
		z-index: 99; 
		width:25px; 
		height: 30px; 
		padding-top: 15px;
	}
	.navicon span { 
		width:18px; 
		height: 2px;
		background:#203351; 
		position: relative; 
		display: block;
	}
	.navicon span:before, .navicon span:after {
		content:"";
		width: 25px; 
		height: 2px; 
		background:#203351; 
		display: block; 
		position: absolute; 
		left: 0;
	}
	.navicon span:after { 
		width: 18px;  
	}
	.navicon span:before {
		top: -6px;   
	}
	.navicon span:after {
		bottom: -7px; 
	}
	/*REMOVE FOR*/
	.active span:before, .navicon span:after { 
		width: 18px; 
	}
	.navicon.active {
		position: fixed; 
		top: 18px; 
		right: 15px;
		z-index: 9999;
	}
	.navicon.active span {
	 	background: none;
	}
	.navicon.active span:before { 
		transform: rotate(-48deg);
	}
	.navicon.active span:after { 
		transform: rotate(45deg); bottom: 6px;
	}
	.topmenu { 
		box-shadow: 0 0 3px #ccc; 
		position: 
		fixed;
		top: 0;
		right: 0; 
		z-index: 999; 
		width: 250px; 
		padding:50px 15px 40px; 
		height: 100%; 
		overflow-x: hidden;
		background: #fff; 
		overflow: auto; 
		-webkit-font-smoothing: antialiased;  
		transform-origin: 0% 0%;  
		transform: translate(100%, 0);  
		margin: 0;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	.topmenu.showmenu { 
		transform: translate(0%, 0); 
	}
	.topmenu > ul > li {
		width: 100%; 
		position: relative;
	} 
	.topmenu > ul > li > a {
		padding:11px 15px;
		font-size: 15px; 
		border: none!important;
	}
	.topmenu > ul > li:hover > a, .topmenu > ul > li.active > a, .topmenu > ul > li > ul li:hover > a {
		background: none;
		color: #d22902;
	}
	.plusicon {
	    display: block;
	    position: absolute;
	    z-index: 101;
	    right: 0;
	    top: 3px;
	    cursor: pointer;
	}
	.plusicon::after {
	    content: "+";
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    line-height: 30px;
	    font-size: 24px;
	    color: #000;
	}
	.plusicon.minus_icon:after {
		font-size: 0;
	}
	.minus_icon::before {
	    content: "";
		width: 12px!important;
		position: absolute;
		background: #000;
		height: 2px;
		right: 9px;
		top: 15px;
	}
	.topmenu > ul > li.sub-links > a::after {display: none;}
	.topmenu > ul > li:hover > ul {
	    display: none;
	}
	.topright {
		margin-right:50px;
	}
	.topmenu > ul > li > ul > li {
		border-bottom: 0;
	}
	.topmenu > ul > li > ul {
		border-top: 0;
		background: none;
		display: none;
		position: static;
		left: auto;
		right: auto;
		top: auto;
		border: 0;
		bottom: auto;
		min-width: 100%;
		padding: 0;
	}
	.topmenu > ul > ul > ul {
		position: static;
		left: auto;
		top: auto;
		min-width: 100%;
	}
	.topmenu > ul > li > ul li > a {
		color: #1e1e21;
		font-weight: 500;
	}
	.topmenu > ul > li > ul li a {
		padding: 10px 10px 10px 25px;
		font-size: 15px;
		line-height: 1;
	}
	.topmenu > ul > li > ul > li > a::after {
		top: 18px;
	}
	.topmenu > ul > li > ul > li:hover a::after {
	    border-right: 1px solid #3864af;
	    border-bottom: 1px solid #3864af;
	}
	.topmenu > ul > li > ul::after, .topmenu > ul > li > ul::before {
		display: none;
	}
	.sub-menu li a {
		border-bottom: 0;
	}
	.sub-menu li a:hover {
		background: none;
		color: #e3132e;
	}
	.topmenu > ul > li.highlight-link {margin-left: 0;}
	.topmenu > ul > li.highlight-link > a {
		padding: 15px 15px 18px; 
		margin-top: 8px;
	}
	.banner img {
		height: 360px;
	}
	.banner .bannertext .banner-title {font-size: 42px;}
	.blog_wrap .container {
	    width: 750px;
	}
	.sectionpad {padding-top: 45px; padding-bottom: 55px;}
	.topsec .block-left {width: auto;}
	.welcome-content-block {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 35px;
	}
	.welcome-img-block {
		float: none;
		width: 100%;
	}
	.welcome-img-block img {width: 100%; object-fit: cover;}
	.video-block-inner {
		width: 100%;
		top: 50%;
		left: 50%;
		bottom: auto;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.video-block-wrapper iframe {height: 230px!important;}
	.top-block-sc {margin-bottom: 30px;}
	.button-wrapper {padding-top: 40px;}
	.list3 > li {width: 50%;}
	.project-box-wrapper {min-height: 280px;}
	.contact-inner {
		padding-top: 0;
	}
	.contact-detail-block {
	    width: 100%;
	    float: none;
	    margin-right: 0;
	    margin-bottom: 35px;
	}
	.contact-detail-block h3 {
		padding-top: 0;
	}
	.contact-detail-block .short-description ul {
		overflow: hidden;
	}
	.contact-detail-block .short-description li {
		float: left;
		width: 49%;
		margin-right:2%;
	}
	.contact-detail-block .short-description li:nth-child(2n+2) {
		margin-right: 0;
	}
	.contact-detail-block .short-description li:nth-child(2n+3) {
		clear: both;
	}
	.address-wrapper iframe {
		height: 240px;
	}
	.innerbanner {
	    height: 315px;
	}
	.innerpage {
	    padding-top: 45px;
	    padding-bottom: 55px;
	}
	.accomodation-gallery > li {
	    width: 47.5%;
	    margin-right: 3%;
	}
	.accomodation-gallery > li:nth-child(3n+3) {
		margin-right: 3%;
	}
	.accomodation-gallery > li:nth-child(3n+4) {
		clear: none;
	}
	.accomodation-gallery > li:nth-child(2n+2) {
		margin-right: 0;
	}
	.accomodation-gallery > li:nth-child(2n+3) {
		clear: both;
	}
	.sidebar {
	    width: 100%;
	    float: none;
	}
	.sidebar + .bdetail {
	    padding-right: 0;
	}
	.sectionpad.news-sec {padding-top: 50px;}
	.board-of-director-block .board-title.headings {margin-bottom: 40px;}
	.board-of-director-block, .news-block-wrapper {
		float: none;
		width: 100%;
	}
	.board-of-director-block {
		margin-right: 0;
		margin-bottom: 40px;
	}
	.news-block-inner-wrapper {
		padding-left: 0;
		margin-left: 0;
		border-left: none;
		padding-top: 0;
	}
	.board-of-director-block {padding-top: 0;}
	.news-block-wrapper .newsbox .title {min-height: 1px;}
	.our-clients li {
		width: 33.333%;
	}
	.promoter-title {
		font-size: 24px;
		line-height: 1.1;
	}
	.promoter-listing li a {
		padding-left: 15px;
	}
	.promoter-img-box {
		margin-right: 30px;
	}
}
@media screen and (max-width: 767px){
	.blog_wrap .container {
		width: auto;
	}
	.innerpage {
	    padding-top: 35px;
	    padding-bottom: 45px;
	}
	.banner img {
	    height: 380px;
	    object-fit: cover;
	}
	.project-box-wrapper {
	    min-height: 310px;
	}
	.headings {font-size: 32px;}
	.footer-top {padding-top:28px; padding-bottom: 35px;}
	.fbox.ft-links li a {padding-left: 5px; padding-right: 5px;}
	.innerbanner { height: 280px;}
	.contact-form-block .form-group {
	    width: 50%;
	    float: left;
	}
	.cms-content-wrapper li .button {float: none; margin-top: 5px;}
	.sectionpad.project-sec {padding-top: 45px; padding-bottom: 45px;}
	.project-details-block, .video-block-wrapper {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.project-details-block {margin-bottom: 40px;}
	.video-block-wrapper {min-height: 1px;}
	.video-block-inner {position: static; top: auto; transform: none; left: auto; right: auto; bottom: auto;}
	.our-clients .promoters-title {min-height: 120px;}
	.our-clients .client-img img {max-height: 120px;}
	.newsbox .contents {min-height:160px;}
	.promoter-listing .content-box {
		font-size: 15px;
	}
}
@media screen and (max-width: 639px){
	.list3.cms-listing li:first-child{ margin: 0; }
	.banner .bannertext {
		font-size: 18px;
	}
	.banner .bannertext .banner-title {
		font-size: 35px;
	}
	.sectionpad.welcome-sec {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.welcome-sec .top-block-sc {
		margin-bottom: 25px;
	}
	.pageimg {
	    float: none;
	    width: 100%;
	    margin-left: 0;
	}
	.banner img {
	    height: 300px;
	    object-fit: cover;
	}
	.list3 > li {width: 100%;}
	.project-box-wrapper {min-height: 1px;}
	.project-box-wrapper {padding: 25px 25px 45px;}
	.project-box-wrapper .read-more {bottom: 20px;}
	.project-box-wrapper p {margin-bottom: 15px;}
	.project-listing li {margin-bottom: 15px;}
	.project-listing .imgsec {background-position: center top!important;}
	.contact-inner.df-form .contact-form-area {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.accomodation-gallery img {
	    height: 220px;
	}
	.newsbox .title {
		min-height: 1px;
		margin-bottom: 10px;
	}
	.blogpage h1 {
		font-size: 22px;
	}
	.video-popup-wrapper {
		width: 300px;
	}
	.video-popup-wrapper iframe {
	    width: 300px;
	    height: 250px;
	}
	.list2 > li {
		float: none;
		width: 100%;
		padding: 10px 15px;
	}
	.newsbox .contents {min-height:1px;}
	.table-lp-tender {
		overflow: scroll;
	}
	.table-lp-tender table {
		width: 640px!important;
		max-width: 100%;
	}
	.promoter-img-box {
		width: 120px;
	}
	.promoter-title {
		font-size: 22px;
	}
}
@media screen and  (max-width: 567px){
	.innerbanner { height: 250px;}
	.header {
	    position: fixed;
	    left: 0;
	    top: 0;
	    background: #fff;
	    z-index: 999;
	}
	body {
	    padding-top: 100px;
	}
	.header {
		height: 100px;
	}
	.logo {margin-top: 8px;}
	.logo img {height: 90px;}
	.navicon {top: 52px;}
	.social-links li {margin-right: 4px;}
	.headings {
		font-size: 26px;
	}
	.footer-bottom .copyright-text {
		float: none;
		width: 100%;
		margin-right: 0;
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-bottom .design-by {
		float: none;
		text-align: center;
	}
	.contact-form-area {
	    padding: 30px 5px;
	}
	.accomodation-gallery li {
	    width: 100%;
	    float: none;
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.accomodation-gallery > li:last-child {margin-bottom: 0;}
	.formfild > li {
		float: none;
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
	}
	.fbox.faddress {font-size: 16px;}
	.fbox.ft-links { margin-bottom: 20px;}
	.project-details-inner {padding-top: 35px; padding-bottom: 35px;}
	.board-detail-box .board-img {
		float:none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.board-detail-box .board-img img {width: 100%; object-fit: cover;}
	.board-content-box {padding-top: 15px;}
	.board-content {
		margin-bottom: 20px;
	}
	.project-title {font-size: 22px; margin-bottom: 15px;}
	.project-content-box p {margin-bottom: 15px;}
	.our-clients {display: block;}
	.our-clients li {width: 50%;}
	.our-clients .promoters-title {min-height: 75px;}
	.promoter-img-box {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 20px;
	}
	.promoter-listing .content-box {
		text-align: center;
	}
	.promoter-listing li {margin-bottom: 20px;}
}
@media screen and (max-width:479px) {
	.fbox.two h4 {display: none;}
	.faddress .address-text {
		font-size: 16px;
	}
	.fbox.faddress {font-size: 18px;}
	.button {min-width: 150px;}
	.contact-form-block .form-group {
	    float: none;
	    width: 100%;
	}
	.fbox.ft-links li a {font-size: 14px;}
	.banner .bannertext {
		font-size: 16px;
	}
	.banner .bannertext .banner-title {
		font-size: 28px;
		padding-bottom: 10px;
	}
	.banner.owl-theme .owl-nav.disabled + .owl-dots {bottom: 10px;}
	.our-clients li {float: none; width: 100%;}
	.our-clients .promoters-title {min-height:1px;}
	.promoter-title {
		font-size: 18px;
		line-height: 1.3;
	}
	.promoter-listing li a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media screen and (min-width: 768px) { 
  .modal:before {display: inline-block;  vertical-align: middle;  content: " ";  height: 100%; }
}



.eventslist  table a{color:#00156a; font-weight:500;}
.table-lp-tender tr td{font-size: 14px;}
