/* Header */
.mainHeader { 
    min-height: 80px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
            box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}
.mainHeader .links {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: right;
        align-content: right;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    justify-items: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
}
.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mainHeader .links li {
    padding: 30px 20px;
}
.mainHeader .links  a {
    color: #3c3b48;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.mainHeader .hr {
    border-right: 1px solid #d3d3d3;
    margin-left: 15px;
}
.mainHeader .links li:last-child {
    padding: 30px 100px 30px 10px;
}
.mainHeader .links .cartItems {
    position: absolute;
    background: #09d1b8;
    color: #FFF;
    top: -7px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 15px;
}
.mainHeader .links li.active {
    background: #09d1b8;
}
.mainHeader .links li.active a{
    color:#FFFFFF;
}
/* Header */

.mainBg { 
    background:  #000 url(../img/bg.jpg);
    height: 100vh;
    width: 100%;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 999;
    position: relative;
}
.container-fluid-custom {
    width: 100%;
}
.logo img { 
    width: 70px;
}
.colorx { 
    color: #01d0b6;
}
.nav-tabs > li > a {
    font-size: 14px;
    font-weight: 500;
    background: #FFF;
    color: #333333;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #01d0b6 !important;   
}
.textBox.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    line-height: inherit;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.tabArea.tab-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}
.tabArea .form-horizontal.formNew {
   

}

.or  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.or span {
    width:34px;
    height: 1px;
    background: #6e6e72;
    display: inline-block;
    float: left;
}

.midSec {
    padding: 17px 10px;  
    font-weight: 500;
}
.tabArea .form-group {
    margin-bottom: 0;
}
.containerCustom.container {
    width: 820px !important;
    margin: 100px auto;
    position: relative;
    z-index: 9;
}
.btn-send.btn-default {
    background: #01d0b6;
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 2px;
    min-height: 50px;
    border: 1px solid transparent;
    margin-top: 40px;
    font-size: 14px;
}
.btn-default:hover{
    background: #FFF !important;
    border: 1px solid #01d0b6 !important;
    color:#01d0b6 !important;
}
.hTag {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
}
.pTag {
    font-size: 15px;
    font-weight: 400;
}
.imgArea {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.imgArea img {
    vertical-align: middle;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    background-position: 58%;
    margin-left: 0;
    width: 100%;
    height: 100%;
}
.mainBg .nav-tabs {
    border-bottom: 1px solid transparent;
}
.nav-tabs > li {
    margin-left: 15px;
}
.nav-tabs > li + li {
    margin-left: 4px;
}
.nav-tabs > li {
    -webkit-box-shadow: -7px -3px 7px -5px rgba(0,0,0,0.1);
}
.bg1 { 
    background: url(../img/bg1.png);
    height: 100%;
    width: 30%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.none { display: none;}
.bg2 { 
    background: url(../img/bg2.png);
    height: 100%;
    width: 20%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 15%;
}
.textForm span {
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav > li > a {
    padding: 10px 20px;
}
.nav > li > a:hover {
    border-color: #eee !important;
    background-color: #FFF !important;
    border-color: #eee;
    background-color: #FFF;
}

.fullheight { 
    height: 100%;
    padding: 60px 100px !important;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.newForm {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.displayContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #0bd2b9 !important; 
    background-color: #fff !important; 
    border-color: #0bd2b9 !important; 
    -webkit-box-shadow: none !important; 
            box-shadow: none !important; 
}
.btn-default {
    color: #FFF !important; 
    background-color: #01d0b6 !important; 
    border-color: transparent !important; 
    -webkit-transition: 0.3s all ease-in; 
    -o-transition: 0.3s all ease-in; 
    transition: 0.3s all ease-in;
}
.fullHeightNew { 
    height: 100%;
}
.welcome .active {
    border: 2px solid #01d0b6;
    
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #01d0b6;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    content: '';
width: 8px;
height: 8px;
background: #DDD;
position: absolute;
top: 5px;
left: 5px;
border-radius: 100%;
-webkit-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}
.welcomeContent .radio-inline { 
    padding-top: 0 !important;
    padding-bottom: 5px;
}
.welcomeContent .smartWear p { 
    padding: 20px;
    font-weight: 500;
    font-size: 15px;
    color: #6e6e70;
}
.welcomeContent .smartWear { 
    min-height: 249px;
}
.welcomeContent .smartWear.mid p { 
    border-bottom:1px solid #d8d8d8;
    padding: 20px;
    font-size: 15px;
}
.welcomeContent .cats {
    padding: 50px 0 0 0;
    display: block;
}
.welcomeContent .active p {
    color:#01d0b6;
    margin: -2px 0 8px;
}
.welcome  {
    margin-top: 30px;
}
.welcome .topHeading {
    color: #3c3b48 !important;
    background-color: #FFF !important;
    font-size: 19px;
    font-weight: 600;
    padding: 15px 0px !important;
    border-radius: 0 !important;
    border-bottom:0px solid transparent !important; 
}
.topHeading span{
    background: #01d0b6;
    width: 5px;
    height: 13px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    opacity: 0.1;
    right: 10px;
}
.topHeading span + span{
    opacity: 0.5;
}
.topHeading span + span + span{
    opacity: 1;
}
.offSetMax {
    margin-top: 40px;
}
.panel .paddingMax.topHeading {
    padding: 15px 60px !important;
}
.borderBottom {
    border-bottom: 1px solid #dedee2 !important;
    border-top: 1px solid #dedee2 !important;
}
.detailsContent {
    float: left;
    display: block;
    width: 100%;
    padding: 0 150px 0 50px;
}
.marginBottoms {
    margin-bottom: 50px;
    float: left;
    display: block;
    width: 100%;
}
.marginBottomNone {
    margin-bottom: 0 !important;
}


/* Menu Items */

.contentArea .listingData {
    position: absolute;
    top:0;
    bottom: 0;
    background: #40424d;
    z-index: 9;
}
.listing li {
    padding: 15px 25px 15px 0;
    border-bottom: 1px solid #363841;
    background: #40424d;
    margin: 0 !important;
}
.listing li a{
    color: #d3d3d6;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}
.listing li img {
    vertical-align: middle;
    width: 22px;
}
.offsetMini {
    padding-bottom: 10px !important;
}
.listing .slide {
    position: absolute;
    right: -34px;
    background: #40424d;
    width: 35px;
    height: 35px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 11px;
    z-index: 9;
}
.footerList {
    background: #40424d;
    padding: 30px;
    text-align: center;
    float: left;
    display: inline-block;
    width: 100%;
}
.footerList li {
    padding: 0;
    border: none;
    height: 30px;
    width: 30px;
    background: #FFF;
    display: inline-block;
    line-height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin: 10px 5px;
}
.footerList li a {
    padding: 0;
    color: #000;
}
.footerList p {
    padding: 0;
    color: #DDD;
}
.listing p { 
    text-align: center;
    color: #a9aaaf;
    font-size: 12px;
    margin-top: 45px;
}

/* Menu Items */

.container-custom {
    margin:60px !important;
    background: #FFF;
    padding: 30px 30px;
    display: block;
    float: left;
    -webkit-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.1);
            box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.1);
}
.addItems a img{
    padding: 15px 0px;
}
.addItems {
    border-bottom: 1px solid #e4e4e4;
}
.container-custom .media-body {
    padding-top: 20px;
    padding-left: 10px;
} 
.container-custom .media-body-new.media-body {
    padding: 0px 0;
} 
.mediaNew {
    padding-bottom: 15px;
    margin-top: 15px !important;
}
.flexi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contentArea {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    background: #f1f1f6;
}
.container-custom .media-body p {
    margin: 20px 0;
    color: #9897a7;
}
.container-custom .media-body p strong{
    margin: 20px 0;
    color: #3c3b48;
}
 .container-custom .media-body p img{
    padding-right: 15px;
    margin-bottom: 2px;
}   
.container-custom .media-body h3 { 
    font-size: 25px;
    font-weight: 600;
    color: #3c3b48;
}
.tittleArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.itemListing .tittle {
    font-size: 15px;
    color: #3c3b48;
    font-weight: 600;
    white-space: pre-line;
}
.itemListing p {
    color: #3c3b48;
    font-size: 14px;
    margin: 10px 0 0;
}
.itemListing.thumbnail {
    border-radius: 0 !important;
    padding: 0px !important;
}
.itemListing.thumbnail .caption {
    padding: 15px;
}
.container-custom .topHeading {
    color: #3c3b48 !important;
    background-color: #FFF !important;
    font-size: 19px;
    font-weight: 600;
    padding: 15px 25px !important;
    border-radius: 0 !important;
    border-bottom: 0px solid transparent !important;
}
.container-custom .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.container-custom .thumbnail > img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.container-custom .proDetails .media-body-new.media-body {
    padding-top: 0;
}
.container-custom .proDetails .media-body h3 {
    font-size: 26px;
    font-weight: 600;
    color: #3c3b48;
    line-height: 42px;
    margin: 0;
    padding: 0;
}
.container-custom .proDetails .media-body .spans {
    margin: 20px 0 0;
    color: #9897a7;
    display: inline-block;
}
.container-custom .proDetails .media-body span + span{
    padding-left: 15px;
}
.container-custom .proDetails .media-body span strong {
    margin: 20px 0;
    color: #3c3b48;
}
.container-custom .proDetails .media-body span img {
    padding-right: 10px;
}
.container-custom .proDetails .media-body p {
    font-size: 14px;
    line-height: 28px;
}
.container-custom .proDetails .media-body .colors .tittle{
    font-size: 16px;
    color:#747289;
    font-weight: 700;
    margin: 5px 0;
}
.container-custom .proDetails .media-body .colors span + span {
    background: #ff0000;
    padding: 10px;
    border: 1px solid #000;
}
.slideMe {
    position: relative;
    left: -214px;
}
.rel { position: relative;z-index: 999;}
.flexx { display: -webkit-box; display: -ms-flexbox; display: flex;}
.colors ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #50505a;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
    background: transparent;
}
.minWidths li {
    margin-left: 0;
}
.firstChild {
    padding: 18px 0px !important;     
    text-align: left !important;
}
.linkData {
    padding-left: 15px;
}
.colors ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #000000;
    margin: 0;
    width: 22px;
    height: 22px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.colors ul li + li  a {
    background: #ff0000;
}
.colors ul li + li + li  a {
    background: #191970;
}
.colors ul li + li + li + li  a {
    background: #58c36f;
}
.colors ul li + li + li + li + li  a {
    background: #f3cf27;
}
.container-custom .proDetails .media-body .well p {
    margin: 0;
    color: #747289;
    font-size: 16px;
}
.container-custom .proDetails .media-body .well strong {
    color: #09d1b8;
    font-size:24px;
    font-weight: 700;
}
.container-custom .proDetails .media-body .well .borderSec {
    border-right:1px solid #F2F2F2;
}
.container-custom .proDetails .media-body .well {
    min-height: 20px;
    padding: 19px;
    margin: 20px 0;
    background-color: #f9f9fa !important;
    border-top: 1px solid #e4e4e9 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #e4e4e9 !important;
    border-left: 0px solid #e3e3e3 !important;
    border-right: 0px solid #e3e3e3 !important;
}
.paddingXl {
    padding-left: 40px !important;
}
.proDetails .mediaNew {
    border-bottom: 0px solid transparent;
    margin-top: 0px !important;
}
.container-custom .proDetails .media-body {
    padding-left: 20px;
}
.addCart i {
    font-size: 18px;
    padding-right: 10px;
}
.widthNone {  
    width: 16.66666667%;
    position: absolute !important;
    left: 0px; 
    -webkit-transition: 0.5s all ease-out; 
    -o-transition: 0.5s all ease-out; 
    transition: 0.5s all ease-out;
}
.marginMini {
    margin-right: 6px !important;
}
.minWidths {
    width: 54px;
     -webkit-transition: 0.5s all ease-out; 
    -o-transition: 0.5s all ease-out; 
    transition: 0.5s all ease-out;
}
.noData {
    display: none;
     -webkit-transition: 0.5s all ease-out; 
    -o-transition: 0.5s all ease-out; 
    transition: 0.5s all ease-out;
}
.widthFull { 
    display: block !important;
    width: calc(100% - 54px) !important;
    margin: auto !important;
    float: none !important;
    -webkit-transition: 0.5s all ease-in; 
    -o-transition: 0.5s all ease-in; 
    transition: 0.5s all ease-in;
}
.rightBar {
    width: 84%;
    display: block;
    margin: auto;
    height: 100%;
    float: right;
}
.tableArea {
    width: calc(100% - 120px);
}
.tableCustom tr th{
    padding: 25px !important;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    background: #09d1b8;    
    text-align: center;
}
.tableCustom tr td {
    padding: 25px 15px !important;  
    border-right: 1px solid #e7e7ea;
    border-bottom: 1px solid #e7e7ea;
    font-size: 16px;
    font-weight: 600;
}
.paddingsMicro {
    padding-right: 10px;
}
.paddingsMini {
    padding-right: 30px;
}
.tableCustom tr td:nth-child(2) {
    font-weight: 500;
}
.tableCustom tr span {
    color: #01d0b6;
}
.dataItems p{
    font-size: 20px;
    font-weight: 500;
}
.dataItems span {
    color: #01d0b6;
    font-size: 27px;
}
.dataItems p:last-child {
    color: #8380a8;
    font-weight: 500;
    font-size: 19px;
}
.tableCustomNew.table-responsive {
    border: 1px solid #e7e7ea;
}
.btnOrder  {
    padding: 40px 30px 0 !important;
}
.totalItems {
    padding: 20px 15px 30px;
}
.container-custom .btnOrder .removeBtn {
    border: 2px solid #3c3b48 !important;
    color: #747289 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 10px 35px !important;
    background-color: #FFFFFF !important;
}
.container-custom .btnOrder .btn-default {
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 10px 35px !important;
    margin-left: 10px;
}
.sizes {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 10px 0 0 7px!important;
    font-size: 15px;
    white-space: nowrap;
}
.sizes select{
    margin-left: 15px;
}
.sizes .input-group {
    padding-left: 14px;
    width: 130px;   
}
.slide i { 
    color: #FFFFFF;
    -webkit-transition: 0.5s all ease-in;
    -o-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
}
.sizeSelect {
    border: 1px solid #DDD;
    padding: 5px 7px !important;
    margin-left: 5px;
    font-weight: 400;
    display: block;
    width: 36px;
    text-align: center
}
 .slideSmall {
        display: none;
    }
.listing .firstLi {
        text-align: right;
    }
.welcomeContent .smartWear .midTag {
    border-bottom: 1px solid #DDD;
}
.tag1 {
    background: url("../img/c1.png");
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-position: 50%;
}
.tag2 {
    background: url("../img/c2.png");
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-position: 50%;
}
.tag3 {
    background: url("../img/c3.png");
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-position: 50%;
}

.tag01 {
    background: url("../img/c01.png");
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-position: 50%;
}
.tag02 {
    background: url("../img/c02.png");
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-position: 50%;
}
.tag03 {
    background: url("../img/c03.png");
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-position: 50%;
}

.containerCustom  .nav-tabs > li > a {
    border-bottom: 1px solid #ddd;
}
.whites { color: #FFF;font-size: 20px !important;}
.btnNext {
    position: relative;
    bottom: 0;
    text-align: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    border-radius: 50% !important;
    height: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #999 !important;
    margin: auto;
} 
.btnNext:hover {
    background-color: #999 !important;
    color: #FFF !important;
}
.linksMobile { 
    display: none;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #01d0b6;
}
.styled-checkbox:hover + label:before {
  background: #01d0b6;
}
.styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #01d0b6;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 3px;
  height: 3px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.showData {
    display: none !important;
}
.unstyled {
  margin: 0;
  padding:5px 5px 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.unstyled li {
    margin: 0;
    padding-left: 13px;
}
.unstyled .centered {
  width: 300px;
  margin: auto;
}

.unstyled .title {
  text-align: center;
  color: #4571ec;
}




* { -webkit-transition: 0.3s all ease-in; -o-transition: 0.3s all ease-in; transition: 0.3s all ease-in; }
.borderMini {
    border: 1px solid #DDD;width: 50px;
}
.brandData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.brandData h4{
    margin: 0;
    padding-left: 10px;
}
.paddingSide{ 
    padding-left: 0 !important;
    padding-right: 0 !important;
 }
.paddingSideNew {
    padding: 15px 0;
}
.textBold {
    font-size: 22px;
    font-weight: 600;
    color: #3c3b48;
    margin-top: 0;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.paddingSideNew .well{
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.paddingSideNew .well strong {
    color: #09d1b8;
    font-size: 20px;
    font-weight: 700;
}
.paddingSideNew .well span{
    font-size: 15px;
}

@media only screen and (max-device-width: 992px) {

 
    .contentArea .listingData {
        position: absolute;
        top: -79px;
    }
    .listing li {
        padding: 15px;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-transition: 0.3s all ease-in;
        -o-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
        top: 58px;
        position: relative;
    }
    .linksMobile li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px;
        color: #FFF;
    }
    .linksMobile li a:hover {
        color: #F6F6F6;
    }
    .listing li:hover {
        border-bottom: 1px solid #40444e;
        background: #2e303b;
    }
     .listing li a {
        padding-left: 0 !important;
    }
    .linksMobile li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #FFF;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-transition: 0.3s all ease-in;
        -o-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
    }
    .linksMobile li a span{
        font-size: 12px !important;
    }
    .logoMini {
        float: left;
        margin: -6px;
    }
    .linksMobile {
        width: 100%;
        position: absolute;
        top: 80px;
        z-index: 9999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        background: #09d1b8;
        margin: 0 -15px;
        z-index: 999;
    }
    .linksMobile li i {
        font-size: 17px !important;
    }
    .slideSmall i {
        font-size: 30px;
        color: #000;
    }
    .rightBar {
        width: 100%;
        padding: 0 20px;
    }
    .contentArea .listingData {
        position: relative;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 9;
    }
    .slideSmall {
        display: block;
        padding: 23px;
        text-align: right;
        background: #FFFFFF !important;
    }
    .listing .firstLi {
        display: none !important;
    }
    .slideSmall span {
        color: #FFF;
    }
    .block {
        -webkit-transition: 0.7s all ease-in;
        -o-transition: 0.7s all ease-in;
        transition: 0.7s all ease-in;
        display: block !important;
    }
    .listing li {
        display: none;
    }
    .contentArea .listing {
        background: transparent;
        min-height: 100%;
        max-height: 100%;
    }
    .slideBig {
        display: none;
    }
    .mobileMiniNav{ 
    display: block !important;
    }
    .container-custom .topHeading {
        color: #3c3b48 !important;
        background-color: #FFF !important;
        font-size: 15px;
    }
    .container-custom .proDetails .media-body .well {
        text-align: center;
    }
    .proDetails .sizes + div + div {
        text-align: center;
    }
    .container-custom .proDetails .media-body span + span {
        padding-left: 0;
    }
    .container-custom .proDetails .media-body .well strong {
        font-size: 20px;
    }
    .sizes .input-group {
        width: 135px;
    }
    .container-custom .proDetails .media-body .well p {
        font-size: 12px;
    }
    .container-custom .proDetails .media-body h3 {
        font-size: 26px;
        margin-top: 15px;
        font-weight: 600;
        color: #3c3b48;
        line-height: 36px;
    }
    .container-custom .proDetails .media-body {
        padding-left: 0;
    }
    .sizes {
        float: none;
        padding: 5px 0 !important;
    }
    .container-custom .btnOrder .removeBtn {
        font-size: 12px !important;
        padding: 8px 20px !important;
    }
    .container-custom .btnOrder .btn-default {
        font-size: 12px !important;
        padding: 10px 18px !important;
        margin-left: 5px;
    }
    .totalItems {
        padding: 15px 0 15px;
    }
    .dataItems p {
        font-size: 15px;
        font-weight: 500;
    }
    .paddingsMicro {
        padding-right: 0;
    }
    .paddingsMini {
        padding-right: 0;
    }
    .dataItems span {
        font-size: 22px;
    }
    .dataItems p:last-child {
        color: #8380a8;
        font-weight: 500;
        font-size: 16px;
    }
    .dataItems {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
        text-align: left !important;
    }
    .tableCustom tr th {
        padding: 15px !important;
        font-size: 14px;
    }
    .tableCustom tr td {
        padding: 15px 10px !important;
    }
   .btnOrder {
        margin: 20px 0;
    }
    .container-custom .media-body-new.media-body h4 {
        font-size: 13px;
        line-height: 25px;
        text-align: left;
    }
    .mediaNew .media-left {
       float: left;
       padding-right: 0;    
    }
    .mediaNew .media-left img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .container-custom .media-body h3 {
        font-size: 17px;
        line-height: 26px;
    }
    .addItems a img {
        padding: 15px 5px;
    }
    .tabletArea {
        padding: 20px !important;
    }
    .oneNew {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 7px !important;
        -webkit-transition: 0.7s all ease-in;
        -o-transition: 0.7s all ease-in;
        transition: 0.7s all ease-in;
    }
    .twoNew {
        opacity: 0;
        -webkit-transition: 0.7s all ease-in;
        -o-transition: 0.7s all ease-in;
        transition: 0.7s all ease-in;
    }
    .threeNew {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -20px !important;
        -webkit-transition: 0.7s all ease-in;
        -o-transition: 0.7s all ease-in;
        transition: 0.7s all ease-in;
    }
    .showMe {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .mainHeader .links {
        display: none;
        z-index: 99999999;
    }
    .tableArea {
        width: 100%;
    }
    .btnOrder {
        padding: 0 !important;
    }
    .container-custom {
        margin: 20px auto !important;
        background: #FFF;
        padding: 0px;
        display: block;
    }
    .mainHeader .links li {
        padding: 15px 20px;
        background: #F9F9F9;
        border-bottom: 1px solid #DDD;
    }
    .mainHeader .links li:nth-child(5) {
        display: none;
    }
    .mainHeader .links li:nth-child(7) {
        display: none;
    }
    .imgArea { 
        display: none;
    }
    .containerCustom.container {
        width: 100% !important;
        margin: 20px auto;
    }
    .fullheight {
        padding: 30px 20px !important;
    }
    .tab-pane{ 
        width: 100%;
    }
    .detailsContent {
        padding: 0 15px;
    }
    .panel .paddingMax.topHeading {
        padding: 15px 25px !important;
    }
    .offSetMax {
        margin-top: 0px;
    }
    .textBox.form-control {
        margin-bottom: 15px;
    }
    .form-group {
        margin-bottom:0px !important;
    }
    .welcomeContent .radio-inline {
        padding-left: 0;
    }
    .welcome .topHeading {
        font-size: 15px;
    }
    .pTag {
        font-size: 12px;
    }
    .hTag {
        font-size: 20px;
    }
    .borderBottom {
        margin-bottom: 15px;
    }
    .or + .textForm  {
        margin-top: 15px;
    }
    .midSec {
        padding: 0px 10px;
    }
    .btn-send.btn-default {
        margin-top: 15px;
    }
    .welcomeContent .smartWear {
        min-height: 230px;
    }
    .marginBottoms {
        margin-bottom: 30px;
    }
    .footerList p {
        font-size: 12px;
    }
}